{% extends 'base.html' %}
{% block title %}Add Goat{% endblock %}

{% block content %}

<div class="card p-4 shadow-sm">

    <h3 class="mb-3">➕ Add New Goat</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row g-3">

            <div class="col-md-6">
                <label>Tag Number</label>
                {{ form.tag_number }}
            </div>

            <div class="col-md-6">
                <label>Gender</label>
                {{ form.gender }}
            </div>

            <div class="col-md-6">
                <label>Date of Birth</label>
                {{ form.date_of_birth }}
            </div>

            <div class="col-md-6">
                <label>Mother</label>
                {{ form.mother }}
            </div>

            <div class="col-md-6">
                <label>Date Bought</label>
                {{ form.date_bought }}
            </div>

            <div class="col-md-6">
                <label>Purchase Price</label>
                {{ form.purchase_price }}
            </div>

            <div class="col-md-12">
                <label>Image</label>
                {{ form.image }}
            </div>

        </div>

        <div class="mt-4">
            <button class="btn btn-success">Save Goat</button>
            <a href="{% url 'goat_list' %}" class="btn btn-secondary">Cancel</a>
        </div>

    </form>

</div>

{% endblock %}