{% extends 'base.html' %}
{% block content %}

<div class="card p-4 shadow-sm">

    <h2>🐐 Goat {{ goat.tag_number }}</h2>

    <hr>
    <h5>Image</h5>
    {% if goat.image %}
    <img src="{{ goat.image.url }}" class="img-fluid rounded" style="max-width: 300px;">
    {% else %}
    <p class="text-muted">No image available</p>
    {% endif %}

    <p><b>Gender:</b> {{ goat.get_gender_display }}</p>
    <p><b>DOB:</b> {{ goat.date_of_birth }}</p>

    <p><b>Age:</b> {{ goat.age_display }}</p>
</p>

    <p>
        <b>Status:</b>

        <span class="badge
            {% if goat.status == 'alive' %}
                bg-success
            {% elif goat.status == 'sold' %}
                bg-warning text-dark
            {% else %}
                bg-danger
            {% endif %}
        ">
            {{ goat.get_status_display }}
        </span>
    </p>

    <hr>

    <h5>Mother</h5>

    {% if goat.mother %}
        <a href="{% url 'goat_detail' goat.mother.id %}">
            Goat {{ goat.mother.tag_number }}
        </a>
    {% else %}
        None
    {% endif %}

    <hr>

    <h5>Actions</h5>

    {% if goat.status == 'alive' %}
        <a class="btn btn-warning" href="{% url 'record_sale' goat.id %}">
            Record Sale
        </a>

        <a class="btn btn-danger" href="{% url 'record_death' goat.id %}">
            Record Death
        </a>
    {% endif %}

</div>

{% endblock %}