{% extends 'base.html' %}
{% block title %}Record Death{% endblock %}

{% block content %}

<div class="card p-4 shadow-sm">

    <h3>☠️ Record Death</h3>
    <p>Goat: <strong>{{ goat.tag_number }}</strong></p>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Date of Death</label>
            {{ form.date_of_death }}
        </div>

        <div class="mb-3">
            <label>Cause</label>
            {{ form.cause }}
        </div>

        <button class="btn btn-danger">Save Record</button>
        <a href="{% url 'goat_detail' goat.id %}" class="btn btn-secondary">Cancel</a>

    </form>

</div>

{% endblock %}